<div class="breakdance-dropdown breakdance-dropdown--custom {{ content.content.link ? 'breakdance-dropdown--with-link' }}">
    {% set tag = content.content.link ? 'a' : 'button' %}
    <{{ tag }} class="breakdance-menu-link" aria-haspopup="true"
    aria-expanded="false" {{ content.content.link ? 'href="'~ content.content.link ~ '"' }}{{ dataContentEditablePropertyPath('content.content.text') }}
    >
    {{ content.content.text }}
</{{ tag }}>

<div class="breakdance-dropdown-floater" aria-hidden="true">
    <div class="breakdance-dropdown-body">
        <div class="breakdance-dropdown-custom-content">
            %%CHILDREN%%
        </div>
    </div>
  </div>
</div>
